<!-- Footer -->
<div th:fragment="footer">
<hr class="style10" style="border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;">
	<footer class="footer">
		<div class="container-fluid">
			<div class="copyright float-center">
				&copy;
				<script>
					document.write(new Date().getFullYear())
				</script>
				, made with <i class="material-icons">favorite</i> by <a
					href="https://www.linkedin.com/in/yacine-tahi-068024132/" target="_blank">TAHI Yacine, </a> 
					<a
					href="https://www.linkedin.com/in/achraf-bakkache-0b0211162/" target="_blank">BAKKACHE Achraf,</a> 
					<a
					href="https://www.linkedin.com/in/iduoad/" target="_blank">DAOUDI Mohammed</a> 
			</div>
		</div>
	</footer>
</div>
<!-- End Footer -->